@media screen and (max-width: 640px) {
    .block {
        display: block;
        text-align: center;
    }
    .garant > p {
        font-size: 12px;
    }
    button {
        width: 200px;
    }
    .left-center {
        text-align: center;
    }

    .product {
        width: 190px;
        height: 220px;
    }
    .product > img {
        height: 150px;
        width: 150px;
        -o-object-fit: fill;
           object-fit: fill;
    }
    .zzz {
        padding-left: 0;
      }
  
    .product-fo > h5 {
        font-size: 13px;
    }
    .product-fo > h5:first-child {
        padding-top: 20px;
    }

    .footer > p {
        text-align: center;
        padding: 0 30px;
    }
    .footer > p:last-child {
        padding-top: 20px;
        text-align: left;
    }
    .www > button {
        font-size: 1em;
        width: 55%;
      }
}
@media screen and (max-width: 900px) {
    .number {
        padding-right: 28px;
    }

    .gr > div.three.columns.text {
        width: 220px;
    }
    .www > button {
        font-size: 1.2em;
        width: 50%;
    }
        /* header */
    /* навигационное меню */

    .block {
        display: block;
    }
    .header > .logo > img {
        width: 101px;
        height: 86px;
    }

    .none,
    .nav-meny,
    .name-brend > p > span {
        display: none;
    }
    .otz > .three > img {
        width: 100px;
      }
    .otz > .nine > p {
        padding: 20px;
    }
    .otz:first-child > .nine {
        margin-top: 50px;
    }
    .otz > .three.columns > h3 {
        font-size: 1.2em;
    }
    .otz > .nine {
        margin-top: 20px;
        background-color: rgb(207, 207, 207);
        border-radius: 20px;
    }
    .nav {
        /*  ширна произвольная, не стесняйтесь экспериментировать */
        width: 320px;
        min-width: 320px;
        /* фиксируем и выставляем высоту панели на максимум */
        height: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        margin: 0;
        /* сдвигаем (прячем) панель относительно правого края страницы */
        right: -320px;
        /* внутренние отступы */
        padding: 15px 20px;
        /* плавный переход смещения панели */
        -webkit-transition: right 0.3s;
        -moz-transition: right 0.3s;
        transition: right 0.3s;
        /* определяем цвет фона панели */
        background: transparent;
        /* поверх других элементов */
        z-index: 2000;
    }
    
    
    /**
     * Кнопка переключения панели
     * тег <label>
     */
    
    .nav-toggle {
        /* абсолютно позиционируем */
        position: absolute;
        /* относительно правого края панели */
        right: 320px;
        /* отступ от верхнего края панели */
        top: 1em;
        /* внутренние отступы */
        padding: 0.5em;
        /* определяем цвет фона переключателя
         * чаще вчего в соответствии с цветом фона панели
        */
        background: inherit;
        /* цвет текста */
        color: #dadada;
        /* вид курсора */
        cursor: pointer;
        /* размер шрифта */
        font-size: 1.2em;
        line-height: 1;
        /* всегда поверх других элементов страницы */
        z-index: 2001;
        /* анимируем цвет текста при наведении */
        -webkit-transition: color .25s ease-in-out;
        -moz-transition: color .25s ease-in-out;
        transition: color .25s ease-in-out;
    }
    
    
    /* определяем текст кнопки 
     * символ Unicode (TRIGRAM FOR HEAVEN)
    */
    
    .nav-toggle:after {
        content: '\2630';
        text-decoration: none;
        color: #000000;
    }
    
    
    /* цвет текста при наведении */
    
    .nav-toggle:hover {
        color: #D24489;
    }
    
    
    [id='nav-toggle'] {     /*Скрытый чекбокс (флажок)*/
        position: absolute; /* имя селектора атрибут флажка */
        display: none;
    }
    
    [id='nav-toggle']:checked ~ .nav > .nav-toggle {
        left: auto;/* изменение положения переключателя  */
        right: 2px;/*  при просмотре на мобильных устройствах */
        top: 1em;/* когда навигация раскрыта, распологаем внутри панели */
    }
    [id='nav-toggle']:checked ~ .nav {/* Когда флажок установлен, открывается панель */
        right: 0;/* используем псевдокласс:checked */
        box-shadow:-4px 0px 20px 0px rgba(0,0,0, 0.5);
        -moz-box-shadow:-4px 0px 20px 0px rgba(0,0,0, 0.5);
        -webkit-box-shadow:-4px 0px 20px 0px rgba(0,0,0, 0.5);
        overflow-y: auto;
        transition: .3s;
        background-color: white;
    }
    
    [id='nav-toggle']:checked ~ main > article {
        -webkit-transform: translateX(-320px);/* смещение контента страницы */
        -moz-transform: translateX(-320px);/* на размер ширины панели,  */
        transform: translateX(-320px);/* фишка необязательная, на любителя  */
    }
    
    [id='nav-toggle']:checked ~ .nav > .nav-toggle:after {/* изменение символа переключателя, */
        content: '\2715';/* привычный крестик (MULTIPLICATION X),   */
    }/* вы можете испльзовать любой другой значок */
    
    body {
       animation: bugfix infinite 1s;
    }
    
    @keyframes bugfix {
        to {
          padding: 0;
        }
    }
    @media screen and (min-width: 320px) {
        html,/*  позаботьтимся о средних и маленьких экранах */
        body {/* мобильных устройств */
          margin: 0;
          overflow-x: hidden;
        }
    }
    
    @media screen and (max-width: 320px) {
    
        .nav {
          width: 100%;
          box-shadow: none
        }
    }
    
    .nav h2 {
        width: 90%;/*  Формируем стиль заголовка (логотип) панели  */
        padding: 0;
        margin: 10px 0;
        text-align: center;
        text-shadow: rgba(255, 255, 255, .1) -1px -1px 1px, rgba(0, 0, 0, .5) 1px 1px 1px;
        font-size: 1.3em;
        line-height: 1.3em;
        opacity: 0;
        transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        -moz-transform: scale(0.1, 0.1);
        -webkit-transform: scale(0.1, 0.1);
        transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -webkit-transform-origin: 0% 0%;
        transition: opacity 0.8s, transform 0.8s;
        -ms-transition: opacity 0.8s, -ms-transform 0.8s;
        -moz-transition: opacity 0.8s, -moz-transform 0.8s;
        -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
    }
    
    .nav h2 a {
        color: #000000;
        text-decoration: none;
        text-transform: uppercase;
    }
    [id='nav-toggle']:checked ~ .nav h2 {
        opacity: 1;
        transform: scale(1, 1); /* плавное появление заголовка (логотипа) при раскрытии панели */
    }
    .nav > ul {
        display: block;/*  формируем непосредственно само меню */
        margin: 0;/* используем неупорядоченный список для пунктов меню */
        padding: 0;/* прикрутим трансфомации и плавные переходы */
        list-style: none;
    }
    
    .nav > ul > li {
        line-height: 2.5;
        opacity: 0;
        -webkit-transform: translateX(50%);
        -moz-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
        -webkit-transition: opacity .5s .1s, -webkit-transform .5s .1s;
        -moz-transition: opacity .5s .1s, -moz-transform .5s .1s;
        -ms-transition: opacity .5s .1s, -ms-transform .5s .1s;
        transition: opacity .5s .1s, transform .5s .1s;
    }
    
    [id='nav-toggle']:checked ~ .nav > ul > li {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    
    
    /* определяем интервалы появления пунктов меню */
    
    .nav > ul > li:nth-child(2) {
        -webkit-transition: opacity .5s .2s, -webkit-transform .5s .2s;
        transition: opacity .5s .2s, transform .5s .2s;
    }
    
    .nav > ul > li:nth-child(3) {
        -webkit-transition: opacity .5s .3s, -webkit-transform .5s .3s;
        transition: opacity .5s .3s, transform .5s .3s;
    }
    
    .nav > ul > li:nth-child(4) {
        -webkit-transition: opacity .5s .4s, -webkit-transform .5s .4s;
        transition: opacity .5s .4s, transform .5s .4s;
    }
    
    .nav > ul > li:nth-child(5) {
        -webkit-transition: opacity .5s .5s, -webkit-transform .5s .5s;
        transition: opacity .5s .5s, transform .5s .5s;
    }
    
    .nav > ul > li:nth-child(6) {
        -webkit-transition: opacity .5s .6s, -webkit-transform .5s .6s;
        transition: opacity .5s .6s, transform .5s .6s;
    }
    
    .nav > ul > li:nth-child(7) {
        -webkit-transition: opacity .5s .7s, -webkit-transform .5s .7s;
        transition: opacity .5s .7s, transform .5s .7s;
    }
    .nav > ul > li > a {
        display: inline-block;
        position: relative;
        padding: 0;/*  оформление ссылок пунктов меню */
        font-weight: 300;
        font-size: 1.2em;
        color: #000000;
        width: 100%;
        text-decoration: none;
        /* плавный переход */
        -webkit-transition: color .5s ease, padding .5s ease;
        -moz-transition: color .5s ease, padding .5s ease;
        transition: color .5s ease, padding .5s ease;
    }
    .nav > ul > li > a:hover,
    .nav > ul > li > a:focus {
        color: #D24489;
        font-weight: bold;/* состояние ссылок меню при наведении */
        padding-left: 15px;
    }
    
    .nav > ul > li > a:before {
        content: '';
        display: block;
        position: absolute;
        right: 0;/* линия подчеркивания ссылок меню */
        bottom: 0;
        height: 1px;
        width: 100%;
        -webkit-transition: width 0s ease;
        transition: width 0s ease;
    }
    
    .nav > ul > li > a:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        width: 100%;
        background: #D24489;
        -webkit-transition: width .5s ease;
        transition: width .5s ease;
    }
    .nav > ul > li > a:hover:before {
        width: 0%;
        background: #3A488E;/* анимируем линию подчеркивания  */
        -webkit-transition: width .5s ease;/*ссылок при наведении  */
        transition: width .5s ease;
    }
    
    .nav > ul > li > a:hover:after {
        width: 0%;
        background: transparent;
        -webkit-transition: width 0s ease;
        transition: width 0s ease;
    }


}
@media screen and (max-width: 550px) {
    .www > button {
        width: 80%;
        font-size: 0.9em;
      }
    form,
    .img-garant {
        text-align: center;
    }
    .img-garant { margin-top: 20px; }
}
@media screen and (max-width: 800px) {
    .fff > button {
       letter-spacing: 0;
       font-size: inherit;
       flex-wrap: wrap;
       white-space: pre-wrap;
       width: 100%;
       line-height: 25px;
      }   
}
@media screen and (max-width: 1000px) {
    .video {
        width: 60%;
        position: relative;
      }
    .azs > h3 {
        padding-left: 50px;
    }
}
@media screen and (max-width: 500px) {
    .product { width: 100%;}
}

